.navbar{
    background: rgb(241,77,99);
    background: linear-gradient(90deg, rgba(241,77,99,1) 0%, rgba(255,110,110,1) 100%);
    margin: 0px;
    padding: 1em;
    .container{
        max-width: 1024px;
        margin: 0 auto;
        h1{
            font-size: 38px;
            font-weight: 400;
            color: #FFF;
        }
        span{
            font-weight: 600;
            font-style: italic;
        }
    } 
}
@media only screen and (max-width: 760px){
    .navbar{
        background: rgb(241,77,99);
        background: linear-gradient(90deg, rgba(241,77,99,1) 0%, rgba(255,110,110,1) 100%);
        margin: 0px;
        padding: 1em;
        .container{
            max-width: 1024px;
            margin: 0 auto;
            h1{
                font-size: 22px;
                font-weight: 400;
                color: #FFF;
            }
            span{
                font-weight: 600;
                font-style: italic;
            }
        } 
    }
}