<app-nav></app-nav>
<section class="container">
    <section class="section-left">
        <img src="assets/familia.jpg" alt="Familia Medrano">
        <section class="profile-pic">
            <img src="assets/deyna.jpg" alt="Deyna Lia Medrano">
        </section>
        <section class="description">
            <h3>Deyna sufrio un grave accidente y ahora necesita nuestra ayuda para recuperarse.</h3>
            <p>Fue atropellada por un conductor imprudente y ahora lleva más de 1 mes en el hospital, estuvo en terapia intensiva por varios días y no despertaba debido a la gravedad del accidente.</p> 
            <h3>La cuenta del hospital llegó a más de 126 mil bolivianos.</h3>
            <p>La mamá de Deyna esta haciendo todo lo posible por pagar la cuenta pero necesita nuestra ayuda.</p>
            <p>Por eso contamos contigo para donar y ayudarla a cubrir los gastos del hospital para que pueda regresar a casa y empezar el proceso de recuperación.</p>
            <img src="assets/factura.jpg" alt="">
        </section>
    </section>
    <section class="section-right">
        <section class="count-container">
            <section class="title-container">
                <h4>Total recaudado</h4>
            </section>
            <section class="progress-bar-container">
                <h2>4130 Bs. <span>de 122,450 Bs.</span></h2>
                <div class="meter orange animate">
                    <span style="width: 9%"></span>
                </div>  
                <p>Donaciones hechas por 56 personas.</p>  
                <section class="info-container">
                    <h4>Cuenta Bancaria</h4>
                </section>
                <section class="account-section">
                    <p>Puedes hacer tu donación a la cuenta de la mamá de Deyna:</p>
                    <p> <span>Banco:</span> <br>Banco Nacional de Bolivia BNB </p>
                    <p> <span>Número de cuenta:</span> <br> 23-456-789-975</p>
                       <p> <span>Nombre de la cuenta: </span><br> Ana Lia Flores</p>
                </section>
                <section class="info-container">
                    <h4>Pagar con "Simple"</h4>
                </section>
                <section class="account-section">
                    <p>Tambien puedes usar la aplicación de tu banco en tu celular para hacer tu donación de forma rápida.</p>
                    <ol>
                        <li>Abre la aplicación de tu banco en tu celular</li>
                        <li>Busca la opción para transferencia con "Simple" o código QR. </li>
                        <li>Escanea con la cámara el codigo QR en la pantalla o guarda una captura de pantalla del código QR y abrela imagen en la aplicación para pagar.</li>
                        <li>Confirma los datos y el monto.</li>
                        <h3>LISTO!</h3>
                    </ol>
                    <img src="assets/qr-code.jpg" alt="">
                </section>
            </section>
        </section>
    </section>
</section>
<app-footer></app-footer>
<router-outlet></router-outlet>
