<app-nav></app-nav>
<section class="container">
    <section class="section-left">
        <img src="assets/familia.jpg" alt="Familia Medrano">
        <section class="profile-pic">
            <img src="assets/deyna.jpg" alt="Deyna Lia Medrano">
        </section>
        <section class="description">
            <p>Deyna necesita tratamientos para su recuperación por eso necesitamos de tu ayuda.</p>
            <h3>Sufrió un grave accidente y ahora necesita nuestra ayuda para recuperarse.</h3>
            <p>Fue atropellada y estuvo más de 1 mes en el hospital, por varios días en terapia intensiva y no despertaba debido a la gravedad del accidente.</p> 
            <h3>La cuenta del hospital llegó a más de 126 mil bolivianos.</h3>
            <p>La mamá de Deyna con mucho esfuerzo y apoyo de la gente logró pagar la cuenta pero ahora necesita nuestra ayuda para los tratamientos de recuperación.</p>
            <h3>Los tratamientos por los proximos 3 meses tienen un costo de <b>18 mil Bs.</b></h3>
            <p>Con tu donación ayudaras a pagar la recuperación de Deyna.</p>
        </section>
    </section>
    <section class="section-right">
        <section class="count-container">
            <section class="title-container">
                <h4>Total Recaudado</h4>
            </section>
            <section class="progress-bar-container">
                <h2>485 Bs. <span>de 18,000 Bs.</span></h2>
                <div class="meter orange animate">
                    <span style="width: 3%"></span>
                </div>  
                <p>Donaciones hechas por 97 personas.</p>  
                <h3>¿Cómo Donar?</h3>
                <img src="assets/donate.svg" alt="">
                <section class="info-container">
                    <h4>1) Deposito Bancario</h4>
                </section>
                <section class="account-section">
                    <p>Puedes hacer tu donación a la cuenta de la mamá de Deyna:</p>
                    <p> <span>Banco:</span> <br><b>Banco Nacional de Bolivia (BNB)</b></p>
                    <p> <span>Número de cuenta:</span> <br> <b>35-0226-3195</b></p>
                    <p> <span>Nombre de la cuenta: </span><br> <b>Flores Saravia Ana Lia</b></p>
                </section>
                <section class="info-container">
                    <h4>2) Donar con "Simple"</h4>
                </section>
                <section class="account-section">
                    <img src="assets/qr-deyna.jpg" alt="">
                    <p>Puedes usar la aplicación de tu banco en tu celular para hacer tu donación de forma rápida.</p>
                    <ol>
                        <li><b>Abre la aplicación</b> de tu banco en tu celular</li>
                        <li>Busca la opción para <b>transferencia con código QR.</b></li>
                        <li><b>Escanea el codigo QR</b> en la pantalla o guarda una captura de pantalla del código QR y abrela imagen en la aplicación para pagar.</li>
                        <li><b>Confirma</b> el monto.</li>
                        <h3>GRACIAS!</h3>
                    </ol>
                </section>
            </section>
        </section>
    </section>
</section>
<app-footer></app-footer>
<router-outlet></router-outlet>
